.headliner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.headliner img {
  max-width: 300px;
  border-radius: 150px;
  border: 1px solid #4e4e4e;
  box-shadow: 0 0 0 1px #4e4e4e;
  margin: 60px 0 40px;
}

.headliner p {
  max-width: 600px;
  text-align: center;
}

.headliner p span {
  font-size: var(--font-size-md);
  color: var(--color-text-secondary);
}

.headliner p span:first-child {
  font-weight: bold;
  color: var(--color-text-primary);
}

.headliner a:hover {
  color: var(--interactive-accent);
}

.wip {
  margin: 50px 0;
}

.wip h3 {
  font-size: var(--font-size-md);
  text-align: center;
  color: var(--color-text-primary);
}
