.header {
  margin-bottom: 40px;
  font-weight: 600;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: var(--font-size-sm);
  color: var(--color-text-secondary);
}

.nav-list {
  display: flex;
  list-style: none;
}

.nav-list li {
  margin-left: 30px;
  font-weight: normal;
}

.spaced {
  letter-spacing: 1px;
}