.header {
  margin-bottom: 40px;
  font-weight: 600;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
}

.navbar a {
  text-decoration: none;
  color: inherit;
  transition: color 80ms ease-out 10ms;
}

.navbar a:hover {
  color: #ff1259;
}

.nav-list {
  display: flex;
  list-style: none;
}

.nav-list li {
  margin-left: 30px;
}